<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fetch.css') }}">
    <title>Analyze Data</title>
</head>

<body>
    <div class="analyze-section">
        <h1>Let's analyze!</h1>
        <p>Please provide the Last.fm username and the period of time!</p>

        <form method="POST" action="{{ url_for('main.fetch_data') }}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>

            <label for="years">Number of Years:</label>
            <select id="years" name="years" required>
                <option value="" disabled selected>Choose the number of years</option>
                <option value="1">1 Year</option>
                <option value="2">2 Years</option>
                <option value="3">3 Years</option>
                <option value="4">4 Years</option>
                <option value="5">5 Years</option>
            </select>
            <br>

            <button type="submit">Fetch Data</button>
        </form>
    </div>

<!--    <nav>-->
<!--        <a href="{{ url_for('main.home') }}">Go back to the homepage!</a>-->
<!--    </nav>-->
</body>
</html>