<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <title>SeasonifyFM</title>
</head>
<body>
    <div class = "hero">
        <img src="{{ url_for('static', filename='leaf-icon.svg') }}" alt="Leaf Logo">
        <h1>SeasonifyFM</h1>
    </div>
    <nav class="buttons">
        <a class="fetch-button" href="/fetch_data">Analyze</a>
        <a class="nav-button" href="/about">About</a>
    </nav>
</body>
</html>